.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__left {
  flex: 0.8;
  padding: 10px;
  min-width: 500px;
}

.checkout__right {
  padding: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.empty_cart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.empty_cart_dis {
  text-align: center;
  color: grey;
}

.empty_cart_dis > h3 {
  font-size: 28px;
  margin-bottom: 18px;
}
